

.form-floating {
    position: relative;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: 3.0000625rem;
    min-height: 3.0000625rem;
    line-height: 1.375;
}
.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 0.8555rem 1rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        transition: none;
    }
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 0.8555rem 1rem;
}
.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
    color: transparent;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.28325rem;
    padding-bottom: calc(0.42775rem + 1px);
}
.form-floating > .form-control:-webkit-autofill,
.form-floating > .form-control-plaintext:-webkit-autofill {
    padding-top: 1.28325rem;
    padding-bottom: calc(0.42775rem + 1px);
}
.form-floating > .form-select {
    padding-top: 1.28325rem;
    padding-bottom: calc(0.42775rem + 1px);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    color: rgba(var(--bs-body-color-rgb), 1);
    transform: scale(0.867) translateY(-0.6rem) translateX(0.0625rem);
}
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
    position: absolute;
    inset: 0.8555rem 0.5rem;
    z-index: -1;
    height: 0.75rem;
    content: "";
    background-color: transparent;
    border-radius: 0.5rem;
}
.form-floating > .form-control:-webkit-autofill ~ label {
    color: rgba(var(--bs-body-color-rgb), 1);
    transform: scale(0.867) translateY(-0.6rem) translateX(0.0625rem);
}
.form-floating > .form-control-plaintext ~ label {
    border-width: 1px 0;
}
.form-floating > :disabled ~ label,
.form-floating > .form-control:disabled ~ label {
    color: #a8aab4;
}
.form-floating > :disabled ~ label::after,
.form-floating > .form-control:disabled ~ label::after {
    background-color: #f2f2f4;
}
.input-group > .form-control,
.input-group > .form-select,
.input-group > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.input-group > .form-control:focus,
.input-group > .form-select:focus,
.input-group > .form-floating:focus-within {
    z-index: 5;
}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group.has-validation > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group.has-validation > .dropdown-toggle:nth-last-child(n+4),
.input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-control,
.input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(1px * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group.input-group-floating.input-group:focus-within .form-floating-focused {
    transform: scaleX(1);
}
.input-group:hover .form-floating:not(.form-floating-outline) > .form-control,
.input-group:hover .form-floating:not(.form-floating-outline) > .form-control-plaintext,
.input-group:hover .form-floating:not(.form-floating-outline) > .form-select {
    background-color: #eeeef0;
    border-color: #3b4056;
}
.input-group:not(.has-validation) > .form-floating:not(.form-floating-outline) ~ .input-group-text:nth-last-child(2),
.input-group:not(.has-validation) > .form-floating:nth-last-child(2):not(.form-floating-outline) > .form-control,
.input-group:not(.has-validation) > .form-floating:nth-last-child(2):not(.form-floating-outline) > .form-select {
    border-top-right-radius: 0.5rem;
}
.input-group-merge:has(.form-floating-outline):focus-within > .input-group-text {
    border-width: 2px;
}
html:not([dir=rtl]) .input-group-merge .form-floating-outline:not(:first-child) > .form-control {
    padding-left: 0;
    border-left: 0;
}
html:not([dir=rtl]) .input-group-merge .form-floating-outline:not(:first-child) > label {
    padding-left: 0;
}
html:not([dir=rtl]) .input-group-merge .form-floating-outline:not(:last-child) > .form-control {
    padding-right: 0;
    border-right: 0;
}
[dir=rtl] .input-group:not(.has-validation) > .form-floating:not(.form-floating-outline) ~ .input-group-text:nth-last-child(2),
[dir=rtl] .input-group:not(.has-validation) > .form-floating:nth-last-child(2):not(.form-floating-outline) > .form-control,
[dir=rtl] .input-group:not(.has-validation) > .form-floating:nth-last-child(2):not(.form-floating-outline) > .form-select {
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0;
}
[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
[dir=rtl] .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
[dir=rtl] .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
[dir=rtl] .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0;
}
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:last-child) > .form-control,
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:first-child) > .form-control,
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:first-child) > .form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:first-child):not(:last-child) > .form-control,
[dir=rtl] .input-group:not(.input-group-floating):not(.has-validation) > .form-floating:not(:first-child):not(:last-child) > .form-select {
    border-radius: 0;
}
[dir=rtl] .input-group.input-group-lg:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
[dir=rtl] .input-group.input-group-lg:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
[dir=rtl] .input-group.input-group-lg:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
[dir=rtl] .input-group.input-group-lg:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
[dir=rtl] .input-group.input-group-sm:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
[dir=rtl] .input-group.input-group-sm:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
[dir=rtl] .input-group.input-group-sm:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
[dir=rtl] .input-group.input-group-sm:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
[dir=rtl] .input-group.has-validation > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
[dir=rtl] .input-group.has-validation > .dropdown-toggle:nth-last-child(n+4),
[dir=rtl] .input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-control,
[dir=rtl] .input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
[dir=rtl] .input-group.input-group-lg > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
[dir=rtl] .input-group.input-group-lg > .dropdown-toggle:nth-last-child(n+4),
[dir=rtl] .input-group.input-group-lg > .form-floating:nth-last-child(n+3) > .form-control,
[dir=rtl] .input-group.input-group-lg > .form-floating:nth-last-child(n+3) > .form-select {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
[dir=rtl] .input-group.input-group-sm > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
[dir=rtl] .input-group.input-group-sm > .dropdown-toggle:nth-last-child(n+4),
[dir=rtl] .input-group.input-group-sm > .form-floating:nth-last-child(n+3) > .form-control,
[dir=rtl] .input-group.input-group-sm > .form-floating:nth-last-child(n+3) > .form-select {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
[dir=rtl] .input-group:not(.form-floating-outline):not(.input-group-floating) > :not(:first-child):not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
[dir=rtl] .input-group > .dropdown-toggle:nth-last-child(n+3):not(:first-child) {
    border-radius: 0 !important;
}
[dir=rtl] .input-group.input-group-floating:not(.form-floating-outline) > :not(:first-child):not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}[dir=rtl] .input-group-merge .form-floating-outline:not(:first-child) > .form-control {
     padding-right: 0 !important;
     border-right: 0;
 }
[dir=rtl] .input-group-merge .form-floating-outline:not(:first-child) > label {
    padding-right: 0;
}
[dir=rtl] .input-group-merge .form-floating-outline:not(:last-child) > .form-control {
    padding-left: 0 !important;
    border-left: 0;
}
[dir=rtl] .input-group-merge .form-floating-outline:not(:last-child) > label {
    padding-left: 0;
}

.fv-plugins-bootstrap5-row-invalid .input-group.has-validation .input-group-text,
.fv-plugins-bootstrap5-row-invalid .input-group.has-validation:focus-within .input-group-text {
    border-color: #ff4d49 !important;
}

.form-floating > .form-control:focus ~ label:after, .form-floating > .form-control:not(:placeholder-shown) ~ label:after,
.form-floating > .form-control-plaintext:focus ~ label:after,
.form-floating > .form-control-plaintext:not(:placeholder-shown) ~ label:after,
.form-floating > .form-select:focus ~ label:after,
.form-floating > .form-select:not(:placeholder-shown) ~ label:after {
    background-color: #fff !important;
}
.form-floating.form-floating-outline > .form-control:disabled,
.form-floating.form-floating-outline > .form-control-plaintext:disabled,
.form-floating.form-floating-outline > .form-select:disabled {
    background-color: transparent;
    border-color: #e5e6e8;
    color: #a8aab4;
}
.form-floating.form-floating-outline > .form-control:disabled ~ .form-text,
.form-floating.form-floating-outline > .form-control-plaintext:disabled ~ .form-text,
.form-floating.form-floating-outline > .form-select:disabled ~ .form-text {
    color: #a8aab4;
}
.form-floating.form-floating-outline > .form-control-plaintext {
    border: none;
}

.form-floating:not(.form-floating-outline) > .form-control,
.form-floating:not(.form-floating-outline) > .form-control-plaintext,
.form-floating:not(.form-floating-outline) > .form-select {
    background-color: #f2f2f4;
    border: 0;
    border-bottom: 1px solid #676b7b;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: calc(0.8555rem - 1px);
}
.form-floating:not(.form-floating-outline) > .form-control.is-invalid,
.form-floating:not(.form-floating-outline) > .form-control-plaintext.is-invalid,
.form-floating:not(.form-floating-outline) > .form-select.is-invalid {
    border-bottom-width: 2px;
}
.form-floating:not(.form-floating-outline) > .form-control:hover,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:hover,
.form-floating:not(.form-floating-outline) > .form-select:hover {
    background-color: #eeeef0;
    border-color: #3b4056;
}
.form-floating:not(.form-floating-outline) > .form-control:focus, .form-floating:not(.form-floating-outline) > .form-control:not(:placeholder-shown),
.form-floating:not(.form-floating-outline) > .form-control-plaintext:focus,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:not(:placeholder-shown),
.form-floating:not(.form-floating-outline) > .form-select:focus,
.form-floating:not(.form-floating-outline) > .form-select:not(:placeholder-shown) {
    padding: 1.28325rem 1rem calc(0.42775rem + 1px) 1rem;
}
.form-floating:not(.form-floating-outline) > .form-control:focus::placeholder, .form-floating:not(.form-floating-outline) > .form-control:not(:placeholder-shown)::placeholder,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:focus::placeholder,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:not(:placeholder-shown)::placeholder,
.form-floating:not(.form-floating-outline) > .form-select:focus::placeholder,
.form-floating:not(.form-floating-outline) > .form-select:not(:placeholder-shown)::placeholder {
    color: #a8aab4;
}
.form-floating:not(.form-floating-outline) > .form-control:focus ~ label:after, .form-floating:not(.form-floating-outline) > .form-control:not(:placeholder-shown) ~ label:after,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:focus ~ label:after,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:not(:placeholder-shown) ~ label:after,
.form-floating:not(.form-floating-outline) > .form-select:focus ~ label:after,
.form-floating:not(.form-floating-outline) > .form-select:not(:placeholder-shown) ~ label:after {
    background-color: transparent !important;
}
.form-floating:not(.form-floating-outline) > .form-control:-webkit-autofill,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:-webkit-autofill,
.form-floating:not(.form-floating-outline) > .form-select:-webkit-autofill {
    padding: 1.28325rem 1rem calc(0.42775rem + 1px - 1px) 1rem;
}
.form-floating:not(.form-floating-outline) > .form-control:disabled,
.form-floating:not(.form-floating-outline) > .form-control-plaintext:disabled,
.form-floating:not(.form-floating-outline) > .form-select:disabled {
    pointer-events: none;
    opacity: 0.38;
}
.form-floating:not(.form-floating-outline) > .form-control:focus ~ .form-floating-focused,
.form-floating:not(.form-floating-outline) > .form-select:focus ~ .form-floating-focused {
    transform: scaleX(1);
}

.form-floating-focused {
    position: relative;
    top: -1px;
    z-index: 9;
    display: block;
    width: 100%;
    height: 2px;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: scaleX(0);
}

.form-floating.form-floating-outline > .form-control,
.form-floating.form-floating-outline > .form-select {
    padding: calc(0.8555rem - 1px) calc(1rem - 1px);
}
.form-floating.form-floating-outline > .form-control:focus,
.form-floating.form-floating-outline > .form-select:focus {
    border-width: 2px;
}
.form-floating.form-floating-outline > .form-control:focus, .form-floating.form-floating-outline > .form-control:not(:placeholder-shown),
.form-floating.form-floating-outline > .form-select:focus,
.form-floating.form-floating-outline > .form-select:not(:placeholder-shown) {
    padding-top: 0.8555rem;
    padding-bottom: 0.8555rem;
}
.form-floating.form-floating-outline > .form-control:focus::placeholder, .form-floating.form-floating-outline > .form-control:not(:placeholder-shown)::placeholder,
.form-floating.form-floating-outline > .form-select:focus::placeholder,
.form-floating.form-floating-outline > .form-select:not(:placeholder-shown)::placeholder {
    color: #a8aab4;
}
.form-floating.form-floating-outline > .form-control:focus ~ label, .form-floating.form-floating-outline > .form-control:not(:placeholder-shown) ~ label,
.form-floating.form-floating-outline > .form-select:focus ~ label,
.form-floating.form-floating-outline > .form-select:not(:placeholder-shown) ~ label {
    width: auto;
    height: auto;
    padding: 2px 0.375rem;
    margin-left: 0.625rem;
    margin-top: 0.125rem;
    transform: translateY(-0.8rem) translateX(-2px);
    opacity: 1;
    font-size: 0.8125rem;
}
.form-floating.form-floating-outline > .form-control:focus ~ label:after, .form-floating.form-floating-outline > .form-control:not(:placeholder-shown) ~ label:after,
.form-floating.form-floating-outline > .form-select:focus ~ label:after,
.form-floating.form-floating-outline > .form-select:not(:placeholder-shown) ~ label:after {
    content: "";
    position: absolute;
    width: 100%;
    inset-inline-start: 0;
    top: 0.35rem;
    z-index: -1;
}
.was-validated .form-floating.form-floating-outline > .form-control,
.was-validated .form-floating.form-floating-outline > .form-select {
    padding: calc(0.8555rem - 1px) calc(1rem - 2px);
}
.form-floating.form-floating-outline > .form-control:-webkit-autofill,
.form-floating.form-floating-outline > .form-select:-webkit-autofill {
    padding-top: 0.8555rem;
    padding-bottom: 0.8555rem;
}
.form-floating.form-floating-outline > .form-control:-webkit-autofill ~ label,
.form-floating.form-floating-outline > .form-select:-webkit-autofill ~ label {
    transform: translateY(-0.8rem) translateX(-2px);
    opacity: 1;
}
.form-floating.form-floating-outline:focus-within > .form-control:first-child,
.form-floating.form-floating-outline:focus-within > .form-select:first-child {
    padding: calc(0.8555rem - 1px) calc(1rem - 2px);
}
.input-group .form-floating.form-floating-outline:not(:first-child) > .form-control:focus ~ label,
.input-group .form-floating.form-floating-outline:not(:first-child) > .form-control:not(:placeholder-shown) ~ label,
.input-group .form-floating.form-floating-outline:not(:first-child) > .form-select ~ label {
    padding: 1px 0.375rem !important;
    margin-left: -2px;
    transform: translateY(-0.8rem) translateX(-2px);
}

.form-floating .form-control::file-selector-button {
    padding: 0.8555rem 1rem;
    margin: -0.8555rem -1rem;
    margin-inline-end: 1rem;
}
.form-floating > label {
    width: 100%;
    color: #a8aab4;
    padding: 0.8125rem 1rem;
}
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 2.1895rem;
}
.form-floating > .form-control:focus ~ label:after,
.form-floating > .form-select ~ label:after {
    border-radius: 0;
}

html:not([dir=rtl]) .form-floating ~ .form-text,
html:not([dir=rtl]) .form-floating .form-text {
    margin-left: 1rem;
}
html:not([dir=rtl]) .form-floating:not(.form-floating-outline) .form-select {
    background-position: right 1rem center;
}

[dir=rtl] .form-floating:not(.form-floating-outline) > label {
    right: 0;
    left: inherit;
    transform-origin: 100% 0;
}
[dir=rtl] .form-floating:not(.form-floating-outline) .form-select {
    background-position: left 1rem center;
}
[dir=rtl] .form-floating:not(.form-floating-outline) > .form-control:focus ~ label,
[dir=rtl] .form-floating:not(.form-floating-outline) > .form-control:not(:placeholder-shown) ~ label,
[dir=rtl] .form-floating:not(.form-floating-outline) > .form-select ~ label {
    transform: scale(0.867) translateY(-0.6rem) translateX(-0.0625rem);
}
[dir=rtl] .form-floating:not(.form-floating-outline) > .form-control:-webkit-autofill ~ label {
    transform: scale(0.867) translateY(-0.6rem) translateX(-0.0625rem);
}
[dir=rtl] .form-floating.form-floating-outline > label {
    right: 0;
    left: inherit;
    transform-origin: 100% 0;
}
[dir=rtl] .form-floating.form-floating-outline > .form-control:focus ~ label,
[dir=rtl] .form-floating.form-floating-outline > .form-control:not(:placeholder-shown) ~ label,
[dir=rtl] .form-floating.form-floating-outline > .form-select ~ label {
    margin-right: 0.625rem;
    margin-left: 0px;
    transform: translateY(-0.8rem) translateX(-2px);
}
[dir=rtl] .form-floating.form-floating-outline > .form-control:-webkit-autofill ~ label {
    transform: translateY(-0.8rem) translateX(-2px);
}
[dir=rtl] .input-group .form-floating.form-floating-outline:not(:first-child) > .form-control:focus ~ label,
[dir=rtl] .input-group .form-floating.form-floating-outline:not(:first-child) > .form-control:not(:placeholder-shown) ~ label,
[dir=rtl] .input-group .form-floating.form-floating-outline:not(:first-child) > .form-select ~ label {
    margin-right: -2px;
    transform: translateY(-0.8rem) translateX(-2px);
}
[dir=rtl] .form-floating .form-text, [dir=rtl] .form-floating ~ .form-text {
    margin-right: 1rem;
}
.was-validated .form-floating > .form-control:valid ~ label, .form-floating > .form-control.is-valid ~ label,
.was-validated .form-floating > .form-select:valid ~ label,
.form-floating > .form-select.is-valid ~ label {
    color: var(--bs-form-valid-color) !important;
}
.was-validated .form-floating > .form-control:focus:valid, .form-floating > .form-control:focus.is-valid,
.was-validated .form-floating > .form-control:focus:not(:placeholder-shown):valid,
.form-floating > .form-control:focus:not(:placeholder-shown).is-valid,
.was-validated .form-floating > .form-select:focus:valid,
.form-floating > .form-select:focus.is-valid,
.was-validated .form-floating > .form-select:focus:not(:placeholder-shown):valid,
.form-floating > .form-select:focus:not(:placeholder-shown).is-valid {
    border-color: var(--bs-form-valid-color) !important;
}
.was-validated .form-floating > .form-control:focus:valid ~ label, .form-floating > .form-control:focus.is-valid ~ label,
.was-validated .form-floating > .form-control:focus:not(:placeholder-shown):valid ~ label,
.form-floating > .form-control:focus:not(:placeholder-shown).is-valid ~ label,
.was-validated .form-floating > .form-select:focus:valid ~ label,
.form-floating > .form-select:focus.is-valid ~ label,
.was-validated .form-floating > .form-select:focus:not(:placeholder-shown):valid ~ label,
.form-floating > .form-select:focus:not(:placeholder-shown).is-valid ~ label {
    color: var(--bs-form-valid-color);
}
.was-validated .form-floating > .form-control:invalid ~ label, .form-floating > .form-control.is-invalid ~ label,
.was-validated .form-floating > .form-select:invalid ~ label,
.form-floating > .form-select.is-invalid ~ label {
    color: var(--bs-form-invalid-color) !important;
}
.was-validated .form-floating > .form-control:focus:invalid, .form-floating > .form-control:focus.is-invalid,
.was-validated .form-floating > .form-control:focus:not(:placeholder-shown):invalid,
.form-floating > .form-control:focus:not(:placeholder-shown).is-invalid,
.was-validated .form-floating > .form-select:focus:invalid,
.form-floating > .form-select:focus.is-invalid,
.was-validated .form-floating > .form-select:focus:not(:placeholder-shown):invalid,
.form-floating > .form-select:focus:not(:placeholder-shown).is-invalid {
    border-color: var(--bs-form-invalid-color) !important;
}
.was-validated .form-floating > .form-control:focus:invalid ~ label, .form-floating > .form-control:focus.is-invalid ~ label,
.was-validated .form-floating > .form-control:focus:not(:placeholder-shown):invalid ~ label,
.form-floating > .form-control:focus:not(:placeholder-shown).is-invalid ~ label,
.was-validated .form-floating > .form-select:focus:invalid ~ label,
.form-floating > .form-select:focus.is-invalid ~ label,
.was-validated .form-floating > .form-select:focus:not(:placeholder-shown):invalid ~ label,
.form-floating > .form-select:focus:not(:placeholder-shown).is-invalid ~ label {
    color: var(--bs-form-invalid-color);
}
form .form-floating:has(.selectpicker.is-invalid) label,
form .form-floating:has(.select2.is-invalid) label {
    color: #ff4d49 !important;
}
